body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
h2{
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.login-forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(48, 48, 48, 0.418);
    padding: 40px;
    border-radius: 10px;
}
input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}
button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 220px;
    background-color: rgba(48, 48, 48, 0.418);
    color: white;
    font-size: 16px;
    cursor: pointer;
}