body{
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
}
header{
    background-color: rgba(48, 48, 48, 0.418);
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 50px;
}
main{
    margin-top: 20px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.post{
    background-color: rgba(48, 48, 48, 0.418);
    width: 500px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    height: auto;
}
.postagem{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}
.menu{
    display: flex;
    gap: 20px;
    margin-left: 70px;
}
.menu a{
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 13px;
}
.menu a:hover{
    background-color: rgba(77, 77, 77, 0.7);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.1s;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    left: 30px;
}
.logo:hover{
    transform: scale(1.1);
    transition: transform 0.1s;
    cursor: pointer;
}
.perfil{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
}
.perfil:hover{
    transform: scale(1.1);
    transition: transform 0.1s;
    cursor: pointer;
}
.notifications{
    position: absolute;
    display:flex;
    text-align: right;
    padding: 5px 10px;
    margin-bottom: 20px;
    height: auto;
    right: 80px;
    margin-top: 20px;
    filter: invert();
    width: 25px;
}
.notifications:hover{
    transform: scale(1.2);
    transition: transform 0.1s;
    cursor: pointer;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn img{
    width: 15px;
    height: 15px;
    filter: invert(100%);
}
.btn img:hover{
    transform: scale(1.2);
    transition: transform 0.1s;
}
.sugestions{
    width:350px;
    height: auto;
    background-color:  rgba(48, 48, 48, 0.418);
    border-radius: 5px;
    position: absolute;
    left: 50px;
    margin: 10px;
    padding: 20px;
    margin-top: 75px;
}
.sugestions .card{
    background-color: rgba(77, 77, 77, 0.7);
    border-radius: 5px;
    height: 70px;
}
.sugestions .card h3{
    padding: 10px 0 0 5px;
}
.sugestions .card p{
    padding: 5px;
}
.messages{
    width:350px;
    height: auto;
    background-color:  rgba(48, 48, 48, 0.418);
    border-radius: 5px;
    position: absolute;
    right: 100px;
    margin: 10px;
    padding: 20px;
    margin-top: 75px;
}
.messages .card{
    background-color: rgba(77, 77, 77, 0.7);
    border-radius: 5px;
    height: 70px;
    margin-bottom: 10px;
}
.messages .card h3{
    padding-top: 15px;
    padding-left: 60px;
}
.messages .card p{
    padding-left: 60px;
}
.perfil-msg{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    display: inline-flex;
    position: absolute;
    padding-left: 5px;
}
footer{
    background-color: rgba(48, 48, 48, 0.418);
    width: auto;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    position: auto;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}